<tr>
  <td><%= to_img(tweet.sentiment) %></td>
  <td><%= style_message(tweet.message) %></td>
  <td><%= link_to tweet.user_handle, user_path(tweet.user_handle) %></td>
  <td><%= tweet.count %></td>
</tr>
