<h3>Coke related tweets</h3>

<%= link_to "Fetch more messages", {controller: :tweets, action: :load}, :remote=> true, :class=>"btn" %>

<% if @tweets %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Sentiment</th>
      <th>Message</th>
      <th>User</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody id="tweets">
    <%= render @tweets %>
  </tbody>
  </table>
<% end %>
