<h3>Coke related tweets</h3>

<% if @tweets %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sentiment</th>
      <th>Message</th>
      <th>User</th>
      <th>Count</th>
    </tr>
  </thead>
  </tbody>
    <%= render @tweets %>
  </tbody>
</table>

<% end %>
