// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loading-gif-none {
  display: none;
}

.loading-gif-block {
  display: block;
}

.red {
  color: red;
}
